@use "../../styles/variables";

.score-container {
  background-color: variables.$neutral_lightGray;
  border-radius: 10px;

  width: 100px;
  height: 45px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  & p {
    color: variables.$primary_moderateBlue;
    font-weight: 500;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  & button {
    border: none;
    display: flex;
    align-items: center;

    & svg {
      cursor: pointer;
      fill: #c5c6ef;

      &:hover {
        fill: variables.$primary_moderateBlue;
      }
    }
  }

  @media (min-width: variables.$desktop) {
    width: 45px;
    height: 100px;

    flex-direction: column;
  }
}
