@use "../../styles/variables";

.button {
  width: 90px;
  height: 40px;

  color: white;
  font-weight: 500;

  border: none;
  border-radius: 7px;

  transition: background-color 0.1s;

  cursor: pointer;
}

.primary {
  background-color: variables.$primary_moderateBlue;
  &:hover {
    background-color: variables.$primary_lightGrayishBlue;
  }
}

.secondary {
  background-color: variables.$neutral_grayishBlue;
  &:hover {
    background-color: variables.$neutral_lightGray;
  }
}

.warning {
  background-color: variables.$primary_softRed;
  &:hover {
    background-color: variables.$primary_paleRed;
  }
}
