// Colors
$primary_moderateBlue: #5457b6; // Button, Action, Score, Score Action (Hover), "You" Tag
$primary_softRed: #ed6468; // Delete Action, Confirm Delete
$primary_lightGrayishBlue: #c3c4ef; // Score Action, Button (Hover), Action (Hover)
$primary_paleRed: #ffb8bb; // Delete Action (Hover), Confirm Delete (Hover)

$neutral_darkBlue: #324152; // Username
$neutral_grayishBlue: #67727e; // Default text
$neutral_lightGray: #eaecf1; // Score Background, Subcomment line, TextArea Border
$neutral_veryLightGray: #f5f6fa; // Background Color
$neutral_white: #ffffff; // Comment container

// Fonts
$fontRubik: "Rubik", sans-serif;
