@use "variables";

body {
  background-color: variables.$neutral_veryLightGray;
}

*,
button {
  font-family: variables.$fontRubik;
  font-weight: 400;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
