@use "../../styles/variables";

.hidden {
  display: none;
}

.modal-container {
  background-color: variables.$neutral_white;
  border-radius: 8px;
  padding: 30px;

  z-index: 1;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 90%;

  & h1 {
    font-size: 21px;
    font-weight: 500;
    color: variables.$neutral_darkBlue;
  }

  & p {
    max-width: 308px;
    font-size: 16px;
    margin: 15px 0;
    line-height: 20px;
  }

  & .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  & .buttons > * {
    width: 100%;
    height: 50px;
    font-size: 16px;
  }

  & .buttons > :first-child {
    margin-right: 10px;
  }

  @media (min-width: variables.$desktop) {
    width: 20%;
  }
}

.overlay {
  background-color: variables.$neutral_darkBlue;

  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;

  opacity: 0.4;
}
